<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.weibo.dao.WeiboMapper">
	<select id="getCount" resultType="int">
		select count(*)  from weibo;
	</select>
	<insert id="insertWeiboData"  parameterType="Weibo"  useGeneratedKeys="false">
	              INSERT INTO ${tablename}(wid,username,resportscount,commentscount,
	               text,createat,owid,ousername ,favorited,originalpic)  VALUES  (#{wid},#{username},
	               #{resportscount},#{commentscount}, #{text},#{createat},#{owid},#{ousername},#{favorited},#{originalpic});
	</insert>
</mapper>